@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

/* General */
body {
    background: #121212;
    color: #ffffff;
    font-family: "Open Sans", Sans-Serif, serif;
    margin: 0;
}

main {
    max-width: 100%;
    padding: 10px;
}

h1 {
    border-bottom: 1px red solid;
}

button {
    border-radius: 20px;
    width: 60px;
    height: 30px;
    padding: 1px 0;
    box-sizing: border-box;

    cursor: pointer;

    background-color: rgba(255, 255, 255, 0);
    border: 1px rgba(255, 255, 255, 0) solid;

    transition: 0.1s ease-in;
}

button:focus {
    border: 0;
    outline: 0;
}

@media (hover) {
    button:hover {
        background-color: rgba(255, 255, 255, 0.19);
        border: 1px rgba(255, 255, 255, 0.20) solid;
    }
}

@media only screen and (max-width: 650px) {
    button {
        width: 30px;
    }

    button:active {
        background-color: rgba(255, 255, 255, 0.19);
        border: 1px rgba(255, 255, 255, 0.20) solid;
    }
}

/* Nav Bar */
nav {
    height: 30px;
    background-color: #363636;
    position: sticky;
    border-radius: 0 0 8px 8px;
    padding: 12px;
    top: 0;
    z-index: 100;
    display: flex;
}

nav #navMenuButton, nav #navMenuCloseButton {
    display: none;
}

nav #navOptions {
    flex:auto;
    display: flex;
}

nav #navOptions a {
    flex: auto;
    padding: 0 5px;
    height: 30px;
    display: flex;

    text-decoration: inherit;
    color: inherit;
    font: 400 13.3333px Arial;


    transition: 0.1s ease-in;
    border: 1px rgba(255, 255, 255, 0) solid;
}

nav #navOptions a span {
    margin: auto;
}

nav input[type="search"] {
    flex: 100%;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.15);
    color: inherit;
    border-radius: 20px;
    text-indent: 10px;
    border: 1px rgba(255, 255, 255, 0) solid;
    transition: 0.1s ease-in;
}

nav input[type="search"]:focus {
    outline: 0;
    border: 1px rgba(255, 255, 255, 0.20) solid;
}

nav input[type="search"]::placeholder {
    color: rgba(255, 255, 255, .6);
}

@media (hover) {
    nav #navOptions a:hover {
        background-color: rgba(255, 255, 255, 0.19);
        border: 1px rgba(255, 255, 255, 0.20) solid;
    }

    nav input[type="search"]:hover {
        background-color: rgba(255, 255, 255, 0.17);
        border: 1px rgba(255, 255, 255, 0.20) solid;
    }
}

@media only screen and (max-width: 650px) {
    nav #navMenuButton, nav #navMenuCloseButton {
        display: inline-block;
    }

    nav #navOptions {
        display: block;
        height: 100%;
        width: 150px;
        position: fixed;
        visibility: collapse;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding: 60px;
        transform: translateX(-250px);
        background-color: #363636f0;
        transition: ease-in .2s;
    }

    nav #navOptions.open {
        transform: translateX(0px);
        visibility: visible;
    }

    nav #navOptions button {
        position: absolute;
        top: 0;
        right: 25px;
        margin-top: 12px;
    }

    nav #navOptions a {
        font-size: larger;
    }

    nav input[type="search"] {
        flex: auto;
        flex-grow: 1;
    }

    nav #navMenuMobileOptions {
        display: flex;
        flex: 100%;
    }
}

/* Home Page */
.gallery {
    display: flex;
    flex-wrap: wrap;
}

.galleryItem {
    overflow: hidden;
    flex: 1 0 20%;
    max-width: 20%;
    width: 100%;
    padding: 6px;
    height: 400px;
    display: flex;
    box-sizing: border-box;
}

.galleryItem a {
    flex: auto;

    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.11);
    padding: 8px;
    border-radius: 5px;

    text-decoration: inherit;
    color: inherit;
    transition: .1s ease-in;
    border: 2px rgba(255, 255, 255, 0.0) solid;
}

.galleryItem .imgwrap {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
}

.galleryItem a .imgwrap img {
    transition: .1s ease-in;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.galleryItem a .imgwrap .textContent {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .2s;
}

.galleryItem a .imgwrap .textContent div {
    margin: 10% auto auto;
    width: 75%
}

.galleryItem a .imgwrap .textContent div h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.galleryItem a .imgwrap .textContent div span {
    display: block;
    font-size: large;
}

@media (hover) {
    .galleryItem a:hover {
        background-color: rgba(255, 255, 255, 0.15);
        border: 2px rgba(255, 255, 255, 0.15) solid;
    }

    .galleryItem a:hover .imgwrap img {
        filter: blur(2px);
    }

    .galleryItem a:hover .imgwrap div {
        opacity: 1;
    }
}

@media only screen and (max-width: 1500px) {
    .galleryItem {
        flex: 1 0 25%;
        max-width: 25%;
    }
}

@media only screen and (max-width: 1250px) {
    .galleryItem {
        flex: 1 0 33.33333333%;
        max-width: 33.33333333%;
    }
}


@media only screen and (max-width: 950px) {
    .galleryItem {
        flex: 1 0 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 650px) {
    .galleryItem {
        flex: 1 0 100%;
        max-width: 100%;
        height: auto;
    }

    .galleryItem a .imgwrap .tall {
        height:auto;
        width: 100%;
        object-fit: none;
    }
}


/* Image Page */

.imageOpenWrap {
    width: 80%;
    margin: auto;
}

#headerWrap {
    display: flex;
    border-bottom: 1px red solid;
}

#headerWrap h1 {
    border: 0;
    overflow: auto;
    overflow-wrap: break-word;
    margin: 0;
}

.imageOpenWrap #headerWrap .kebab {
    margin: auto 0 auto auto;
}

#headerWrap .menuWrap {
    position: absolute;
}

.bigImage {
    max-width: 100%;
    object-fit: scale-down;
    margin: auto;
    display: block;
}

#tagWrap {
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.12);
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    margin: 10px 0 0 0;
}

#tagWrap .tagObject {
    padding: 6px 16px;
    margin: 2px 10px 2px 0;
    border-radius: 5px;
    background-color: #660066;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}

#tagWrap .tagObject::after {
    content: ' \00d7';
}

.inputWrap {
    display: inline-flex;
    flex: auto;
}

#tagWrap .inputWrap .tagInput {
    flex: auto;
    box-sizing: border-box;
    padding: 2px 10px 2px 10px;
    margin: 2px 0 2px 0;
    height: 41px;

    border: rgba(255, 255, 255, 0) solid;
    border-radius: 5px 0 0 5px;

    color: inherit;
    background-color: rgba(255, 255, 255, 0.15);

    font-family: inherit;
    font-size: medium;

    transition: 0.1s ease-in;
}

.rounded {
    border-radius: 5px !important;
}

#tagWrap .inputWrap .tagButton {
    box-sizing: border-box;
    margin: 2px 0 2px 0;
    width: 95px;
    height: auto;

    border: rgba(255, 255, 255, 0) solid;
    border-radius: 0 5px 5px 0;

    color: inherit;
    background-color: rgba(255, 255, 255, .11);

    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

    transition: 0.1s ease-in;
}

.hidden {
    visibility: collapse;
    width: 0 !important;
    padding: 0;
    border: 0;
}

#tagWrap .inputWrap .tagButton:focus {
    outline: 0;
}

#tagWrap .inputWrap .tagInput:focus {
    outline: 0;
}

@media (hover) {
    #tagWrap .tagButton:hover {
        background-color: rgba(255, 255, 255, 0.19);
        border: 1px rgba(255, 255, 255, 0.20) solid;
        outline: 0;
    }

    #tagWrap .tagInput:hover {
        outline: 0;
        background-color: rgba(255, 255, 255, 0.17);
        border: 1px rgba(255, 255, 255, 0.20) solid;
    }
}

@media only screen and (max-width: 950px) {
    .imageOpenWrap {
        width: auto;
    }

    #tagWrap .tagObject {
        padding: 6px 16px;
        margin: 2px 0;
        width: 100%;
        font-size: larger;
    }

    .inputWrap {
        display: flex;
        flex: auto;
        flex-wrap: wrap;
    }

    #tagWrap .inputWrap .tagInput {
        border-radius: 5px 5px 0 0;
        margin-bottom: 0;
    }

    #tagWrap .inputWrap .tagButton {
        width:100%;
        height: auto;
        padding: 10px 0 10px 0;
        margin-top: 0;
        border-radius: 0 0 5px 5px;
    }

    .hidden {
        visibility: collapse;
        width: 100% !important;
        height: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
    }
}